{% extends "core/base.html" %}
{% block content %}
<div class="container mt-5 animate-fadeIn ">
    <h1 class="text-warning mb-5 border-bottom headings">
        <b>SKILLS</b>
    </h1>
    <div class="row text-center text-white mb-4">
        <div class="col-sm-4">
            <i class="fa-solid fa-laptop-code fa-2x mb-3 i-colo"></i>
            <h3>Machine Learning</h3>
            <p>
                I have expertise in machine learning and deep learning, demonstrated through practical projects and real-world applications.
            </p>


        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-colo"></i>
            <h3>SQL</h3>
            <p>
                I have strong expertise in SQL, which I have demonstrated through practical projects and real-world applications, ensuring efficient data management and retrieval.
            </p>


        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-server fa-2x mb-3 i-colo"></i>
            <h3>NOSQL</h3>
            <p>

I have extensive experience with MongoDB, which has equipped me with the skills to efficiently manage and retrieve data in various applications.
                
            </p>


        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-colo"></i>
            <h3>Django</h3>
            <p>
           
I have extensive experience with Django and REST APIs, enabling me to build robust web applications and efficient backend services.
            </p>


        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-js fa-2x mb-3 i-colo"></i>
            <h3>Javascript</h3>
            <p>
                I have solid experience with JavaScript, enabling me to develop interactive and dynamic web solutions.
            </p>


        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-react fa-2x mb-3 i-colo"></i>
            <h3>React</h3>
            <p>
                I have strong experience with React, allowing me to create modern, dynamic user interfaces for web applications.
                
            </p>


        </div>
    </div>
    <div class="text-center mt-1">
        <a href="{% url "contact" %}" class="btn btn-outline-warning my-3 mr-5">Hire Me?/Contact Me</a>

    </div>
    
</div>

{% endblock content %}

